

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  color: #cadefc;
}


body {
  /* background: linear-gradient(137deg, rgba(0,0,0,1) 0%, rgba(27,27,27,1) 45%, rgba(32,32,32,0.5) 50%, rgba(27,27,27,1) 55%, rgba(0,0,0,1) 100%);
  background-size: 500% 500%;
  -webkit-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite; */
  background: linear-gradient(137deg, #000000, #313131, #000000);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 10s ease infinite;
  animation: AnimationName 9s ease infinite;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "navBarTop"
    "dropBar"
    "msgCenter"
    "pianoContainer"
    "endMsg"
    "creds";
}

/* Navbar Top Idle */

  div#navbaridle.navbar.navbar-light {
    display: grid;
    position: sticky;
    grid-area: navBarTop;
    padding: 0;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas:
    "lftNav rgtNav rgtNav";
  }
    .leftsideNav {
      display: grid;
      grid-area: lftNav;
    }
      .game-title {
        display: grid;
        justify-self: center;
        align-self: center;
      }
        .game-title.h4 {
          font-weight: 400;
          color: rgb(206,206, 206);
          /* text-shadow: 2px 2px 4px #c3bef0; */
        }
    .rightsideNav {
      display: grid;
      grid-area: rgtNav;
      grid-template-columns: 70% auto;
      justify-content: space-between;
      grid-template-areas:
        "form nTbtn";
    }
      input#inlineFormInput.form-control {
        display: grid;
        justify-self: start;
        background-color: transparent;
        text-align: center;
        grid-area: form;
        border: 1px solid rgb(63, 133, 210);
      }
      button#navToggleBtn.navbar-toggler {
        display: grid;
        justify-self: end;
        /* width: 60px; */
        /* background-image: url(https://image.flaticon.com/icons/svg/179/179567.svg); */
        grid-area: nTbtn;
      }

/* Navbar Top Dropped Down */

div.pos-f-t.container-fluid {
  grid-area: dropBar;
  width: 25%;
  margin-top: 5%;
  position: fixed;
  right: 0;
  grid-template-columns: auto 35%;
  padding: 0;
}
div#navBarDropContainer.p-4 {
  display: grid;
  padding: 0;
  grid-area: dropBar;
  align-self: center;
  justify-self: center;
  grid-template-columns: auto;
  grid-column-gap: 1%;
  grid-row-gap: 5%;
  grid-template-areas:
    "tSec"
    "dSec"
    "aSec";
}
  div.difficultySection {
    display: grid;
    grid-area: dSec;
    text-align: center;
    align-content: space-around;
    justify-content: space-around;
    /* border: 1px outset #ffffff; */
    border-radius: 0 0 20px 0;
    margin-bottom: 20px;
  }
    span.text.col-title1 {
      color: lightgray;
    }
  div.topScoresSection {
    display: grid;
    grid-area: tSec;
    text-align: center;
    /* align-content: space-around; */
    justify-content: space-around;
    /* border: 1px outset #ffffff; */
    border-radius: 0 0 20px 0;
  }
    
  div.aboutSection {
    display: grid;
    grid-area: aSec;
    text-align: center;
    background-color: transparent;
    /* border: 1px outset #ffffff; */
    border-radius: 0 0 20px 0;
  }
    span.text.aboutsec {
      text-align: center;
      justify-self: center;
      align-self: center;
    }
    div.summary {
      font-size: 14px;
      text-align: center;
      justify-self: center;
      align-self: center;
    }

/* Level Indication Message */

.message-center {
  
  grid-area: msgCenter;
  justify-items: center;
  align-items: center;
}
  h1#level-title {
    text-align: center;
    color: rgb(150, 150, 150);
    font-weight: 200;
    font-size: 3rem;
    margin: 6% 0;
    /* text-shadow: 5px 5px 5px #585858; */
  }

/* Piano Section */

div#pianoBox.pianoContainer {
  display: grid;
  /* position: relative; */
  /* grid-area: pianoContainer; */
  /* margin: 15% 0; */
  min-width: 424px;
  grid-area: pianoContainer;
  justify-items: center;
  justify-self: center;

}
  .piano {
    display: flex;
    position: relative;
    align-self: center;
  }
    .white-key {
      width: 60px;
      height: 180px;
      background-color: rgb(207, 209, 202);
      border: 4px solid rgb(34, 34, 34);
      border-bottom: 15px outset rgb(58, 58, 58);
      border-radius: 0 0 6px 6px;
      margin-left: -4px;
      outline: none;
      cursor: pointer;
    }
    .black-key {
      position: absolute;
      width: 65%;
      max-width: 36px;
      height: 60%;
      max-height: 96px;
      background-image: linear-gradient(#000000, #303030);
      border: 4px solid black;
      border-left: 5px outset rgb(105, 105, 105);
      border-bottom: 12px outset rgb(153, 153, 153);
      border-radius: 0 0 2px 2px;
      outline: none;
      cursor: pointer;
    }
      .Cs4-key {
        left: 36px;
      }
      .Ds4-key {
        left: 92px;
      }
      .Fs4-key {
        left: 204px;
      }
      .Gs4-key {
        left: 260px;
      }
      .As5-key {
        left: 316px;
      }
        .pressed {
          box-shadow: 3px 3px 10px inset rgb(70, 70, 70);
          border: 4px solid rgb(99, 99, 99);
          background-color: #b1b1b1;
        }
      
/* Encouragement Messages */

.encMessage {
  grid-area: endMsg;
  width: 100%;
  height: 180px;
  justify-items: center;
  align-items: center;
}
  h1#level-message {
    text-align: center;
    font-weight: 300;
    color: rgb(150, 150, 150);
    margin: 7% 0;
  }

/* Footer Section */

.credits.footerSection {
  grid-area: creds;
  display: grid;
  height: 10%;
  bottom: 0;
  align-self: end;
  grid-template-areas:
  "gLink"
  "fLogos";

}
  a.gitLink {
    grid-area: gLink;
    justify-self: center;
    text-decoration: none;
    font-size: 20px;
  }
  .footerLogos {
    grid-area: fLogos;
    display: grid;
    grid-template-areas:
      "llog ilog flog";
    justify-content: center;
  }
    img.gitlogo, img.linkedinlogo, img.inslogo, img.fblogo {
      width: 22px;
      margin: 25% 25%;
    }
    img.linkedinlogo {
      grid-area: llog;
    }
    img.inslogo {
      grid-area: ilog;
    }
    img.fblogo {
      grid-area: flog;
    }

/* Misc Items */

.text-muted {
  opacity: 0.85;
}

.game-over {
  opacity: 0.9;
  background-color: transparent;
}

/* Animations */

@keyframes AnimationName { 
  0%{background-position:0% 5%}
  50%{background-position:100% 96%}
  100%{background-position:0% 5%}
}

/* Bootstrap Overrides */

::-webkit-input-placeholder {
  font-size: 16px;
  font-family: 'Helvetica', sans-serif;
}

.form-control:focus, .form-control:active {
  outline: none !important;
  box-shadow: none !important;
}

button#navToggleBtn.navbar-toggler.btn-outline-primary:focus, button#navToggleBtn.navbar-toggler.btn-outline-primary:active {
  outline: none !important;
  box-shadow: none !important;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  div.pos-f-t.container-fluid {
    width: 100%;
    height: 40%;
    position: static;
    /* overflow: auto; */
    padding: 0;
  }

  h1#level-title {
    font-size: 1.3rem;
  }
  h1#level-message {
    font-size: 1.1rem;
  }

  div#navBarDropContainer.p-4 {
    display: grid;
    padding: 0;
    grid-area: dropBar;
    position: static;
    align-self: center;
    justify-self: center;
    grid-template-columns: auto;
    grid-column-gap: 1%;
    grid-row-gap: 10%;
    grid-template-areas:
      "dSec"
      "tSec"
      "aSec";
}

.body {
  height: auto;
  display: grid;
  grid-template-areas:
    "navBarTop"
    "msgCenter"
    "pianoContainer"
    "endMsg"
    "dropBar"
    "creds";
}
a.gitLink {
  padding-top: 45px;
}